* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url("../assets/images/github-background.svg") no-repeat top right fixed;
  background-size: 750px;
  background-color: #fdfdfd;
}